.Todo {
    display: grid;
    grid-template-columns: 10% 40% 25% 20% 5%;
    align-items: center;
    min-height: 60px;
    width: 100%;
    background-color: #ff4674;
    border-radius: 10px;
    margin-top: 10px;
    overflow: hidden;
  }
  
  .Todo div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: #fff;
    font-size: 17px;
    border-right: 2px solid #fff;
  }
  
  .Todo .vezesTodo {
    border-right: none;
  }
  
  .Todo .concluirTodo,
  .Todo .excluirTodo {
    height: 100%;
    background-color: #ff4674;
    color: #fff;
    font-size: 17px;
    border: none;
    transition: background-color 0.2s;
    cursor: pointer;
  }
  
  .Todo .concluirTodo {
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
  }
  
  .Todo .concluirTodo:hover {
    background-color: #ff4674;
  }
  
  .Todo .excluirTodo:hover {
    background-color: #e41247;
  }
  